.container {
	width: 400px;
	margin: 70px auto;
}

.container {
	width: 400px;
	margin: 40px auto;
}

@media (max-width: 300px) {
	.container{
		width: 200px;
	}
}

@media (max-width: 560px) {
	.container{
		width: 400px;
	}
}